:root {
  --alert-background: var(--orange-400);
  --alert-foreground: var(--white);
}

.alert {
  display: flex;
  gap: var(--space-8);
  align-items: flex-start;

  padding: var(--space-6);

  line-height: 1.5rem;
  color: var(--alert-foreground);

  background: var(--alert-background);
  border-radius: var(--corner-5);
}

.alert-icon {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
}
