@import '../abstracts/variables.css';

:root {
  --button-primary-background: var(--neutral-9);
  --button-primary-foreground: var(--white);
  --button-primary-background-on-hover: var(--neutral-8);
  --button-primary-background-on-disabled: var(--neutral-1);
  --button-primary-foreground-on-disabled: var(--neutral-6);
}

.dark-theme {
  --button-primary-background: var(--white);
  --button-primary-foreground: var(--neutral-9);
  --button-primary-background-on-hover: var(--neutral-1);
  --button-primary-background-on-disabled: var(--neutral-8);
  --button-primary-foreground-on-disabled: var(--neutral-2);
}

/* Base button will always be a primary one */
.button {
  display: inline-flex;
  justify-content: center;

  padding: var(--space-5);

  color: var(--button-primary-foreground);

  background: var(--button-primary-background);
  border: none;
  border-radius: var(--corner-5);
}

.button:hover,
.button:active,
.button:focus {
  background: var(--button-primary-background-on-hover);
}

.button[disabled] {
  cursor: not-allowed;
  color: var(--button-primary-foreground-on-disabled);
  background: var(--button-primary-background-on-disabled)
}
