@import "../abstracts/variables.css";

:root {
  --calendar-backgorund: var(--white);
  --calendar-border: var(--neutral-0);
  --calendar-day-background-on-hover: var(--neutral-0);
  --calendar-selected-day-background: var(--neutral-9);
  --calendar-selected-day-foreground: var(--white);
}

.dark-theme {
  --calendar-backgorund: var(--neutral-8);
  --calendar-border: var(--neutral-7);
  --calendar-day-background-on-hover: var(--neutral-6);
  --calendar-selected-day-background: var(--white);
  --calendar-selected-day-foreground: var(--neutral-9);
}

.date-picker-select {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.date-picker-select:focus-within {
  border-right: 2px solid var(--focus-ring);
}

.date-picker-container {
  display: flex;
}

.date-picker-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 54px;
  height: 100%;

  color: var(--select-arrows);

  background: none;
  border: 2px solid var(--select-border);
  border-top-right-radius: var(--corner-5);
  border-bottom-right-radius: var(--corner-5);
}

.date-picker-button:focus {
  border-color: var(--focus-ring);
}

.date-picker-button-container {
  position: relative;
  display: flex;
  width: 54px;
  height: 54px;
}

/* stylelint-disable selector-class-pattern */

.react-aria-Popover {
  overflow: auto;

  padding: var(--space-7);

  background: var(--calendar-backgorund);
  border: 1px solid var(--calendar-border);
  border-radius: var(--space-5);
  box-shadow: 0 10px 16px rgba(0 0 0 / 10%);
}

/* React Aria - Date Picker Styles */

.react-aria-Calendar {
  width: fit-content;
  color: var(--text-primary);
}

.react-aria-CalendarGrid {
  border-collapse: collapse;
}

.react-aria-CalendarGridBody td {
  padding: 0;
}

.react-aria-Calendar header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.react-aria-CalendarHeaderCell {
  width: 40px;
  height: 40px;
  margin-bottom: 8px;
}

.react-aria-CalendarCell {
  cursor: default;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  text-align: center;

  border-radius: var(--space-5);
}

.react-aria-CalendarCell:hover,
.react-aria-CalendarCell:focus {
  background: var(--calendar-day-background-on-hover);
}

.react-aria-CalendarCell[data-outside-month] {
  color: var(--text-disabled);
}

.react-aria-CalendarCell[data-selected] {
  color: var(--calendar-selected-day-foreground);
  background: var(--calendar-selected-day-background);
}

/* stylelint-enable selector-class-pattern */
