@import "../abstracts/variables.css";

:root {
  --form-control-label: var(--neutral-6);
  --form-control-error: #d80000;
}

.dark-theme {
  --form-control-label: var(--neutral-5);
  --form-control-error: #d01818;
}

.form-control {
  display: inline-flex;
  flex-direction: column;
  gap: var(--space-4);
}

.form-control-label {
  color: var(--form-control-label);
}

.form-control-asterix,
.form-control-error-message {
  color: var(--form-control-error);
}
