@import "../abstracts/variables.css";

:root {
  --icon-button-foreground: var(--neutral-500);
  --icon-button-background-on-hover: var(--neutral-100);
  --icon-button-foreground-on-hover: var(--black);
  --icon-button-background-on-disabled: var(--neutral-300);
}

.dark-theme {
  --icon-button-foreground: var(--neutral-300);
  --icon-button-background-on-hover: var(--neutral-600);
  --icon-button-foreground-on-hover: var(--white);
  --icon-button-background-on-disabled: var(--neutral-400);
}

.icon-button {
  cursor: pointer;

  display: inline-flex;

  padding: var(--space-5);

  color: var(--icon-button-foreground);

  background: none;
  border: none;
  border-radius: var(--corner-5);
}

.icon-button:hover,
.icon-button:active,
.icon-button:focus,
.icon-button:focus-within {
  color: var(--icon-button-foreground-on-hover);
  background: var(--icon-button-background-on-hover);
}

.icon-button[disabled] {
  cursor: not-allowed;
  color: var(--icon-button-background-on-disabled);
  background: none;
}
