@import '../abstracts/variables.css';

:root {
  --select-background: var(--white);
  --select-foreground: var(--neutral-9);
  --background-on-disabled: var(--neutral-0);
  --foreground-on-disabled: var(--neutral-6);
  --select-border: var(--neutral-0);
  --select-arrows: var(--neutral-6);
  --select-arrows-on-disabled: var(--neutral-4);
}

.dark-theme {
  --select-background: var(--black);
  --select-foreground: var(--white);
  --background-on-disabled: var(--neutral-9);
  --foreground-on-disabled: var(--neutral-4);
  --select-border: var(--neutral-7);
  --select-arrows: var(--neutral-4);
  --select-arrows-on-disabled: var(--neutral-6);
}

.select {
  position: relative;

  width: 100%;
  padding: var(--space-6) calc(var(--space-5) * 2 + 24px) var(--space-6) var(--space-5);

  color: var(--select-foreground);

  appearance: none;
  background: none;
  background-color: var(--select-background);
  border: 2px solid var(--select-border);
  border-radius: var(--corner-5);
}

.select:focus {
  border-color: var(--focus-ring);
}

.select[disabled] {
  cursor: not-allowed;
  color: var(--foreground-on-disabled);
  background: var(--background-on-disabled);
}

.select-container {
  position: relative;
}

.select-container .select-icon {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;
  padding-inline-end: var(--space-5);

  color: var(--select-arrows);
}

.select-container:has(.select[disabled]) .select-icon {
  color: var(--select-arrows-on-disabled);
}


