:root {
  /* Primitive colors */
  --neutral-0: #e6e6e6;
  --neutral-1: #cfcfcf;
  --neutral-2: #b8b8b8;
  --neutral-3: #a1a1a1;
  --neutral-4: #8a8a8a;
  --neutral-5: #737373;
  --neutral-6: #5c5c5c;
  --neutral-7: #454545;
  --neutral-8: #2e2e2e;
  --neutral-9: #171717;
  --white: #fff;
  --black: #000;

  /* Spacing */
  --space-0: 0;
  --space-1: 2px;
  --space-2: 4px;
  --space-3: 6px;
  --space-4: 8px;
  --space-5: 12px;
  --space-6: 16px;
  --space-7: 20px;
  --space-8: 24px;
  --space-9: 32px;
  --space-10: 40px;
  --space-11: 64px;
  --space-12: 80px;

  /* Corner Radius */
  --corner-5: 12px;

  /* Semantic Colors */
  --body-background: var(--white);
  --text-primary: var(--neutal-9);
  --text-secondary: var(--neutral-6);
  --text-disabled: var(--neutral-3);
  --focus-ring: var(--neutral-9);
}

.dark-theme {
  --body-background: var(--black);
  --text-primary: var(--white);
  --text-secondary: var(--neutral-3);
  --text-disabled: var(--neutral-3);
  --focus-ring: var(--neutral-6);
}
