html {
  height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: var(--body-background);
}

button,
input,
select {
  margin: 0;
  padding: 0;
  font: inherit;
  border: none;
}

button,
select {
  cursor: pointer;
}


