:root {
  --font-base-size: 1rem;
  --font-scale: 1;
  --line-height-scale: 1.5;
}

.title-1,
.title-2,
.title-3,
.text,
.text-large,
.text-small,
b {
  margin: 0;
  font-size: calc(var(--font-scale) * var(--font-base-size));
  line-height: var(--line-height-scale);
  color: var(--text-primary);
}

.title-1 {
  --font-scale: 2;
}

.title-2 {
  --font-scale: 1.75;
}

.title-3 {
  --font-scale: 1.5;
}

.text-large {
  --font-scale: 1.25;
}

.text {
  --font-scale: 1;
}

.text-secondary {
  color: var(--text-secondary);
}

.text-small {
  --font-scale: 0.75;
}
